/* TANA VARS =============================================================== */
:root,
html {
	--fontStackNormalVariable: "InterVariable", system-ui;
	--fontStackNormal: "InterVariable", "Inter", system-ui;
	--fontStackMonospace: "Rec Mono Semicasual", ui-monospace, monospace;
	--fontWeightHeading: var(--titleWeight);
}

/* CUSTOM VARS ============================================================= */
:root {
	--remSize: 15px;
	--textFamily: var(--fontStackNormalVariable), var(--fontStackNormal);
	--titleSize: var(--size600);
	--monoSize: var(--size350);
	--textWeight: 440;
	--mediumWeight: 540;
	--strongWeight: 680;
	--titleWeight: 540;
	--fontWeightHeading: var(--titleWeight);
	--fontWeightHeadingInlineRef: var(--titleWeight);
	--fontFeatureSettings: "calt", "kern", "liga", "zero", "ss03";
	--color-text-comment: var(--colorUITextMuted);
}

/* GLOBAL =================================================================== */
html,
body {
	font-size: var(--remSize);
	font-optical-sizing: auto;
	font-weight: var(--textWeight);
	font-feature-settings: var(--fontFeatureSettings);
	text-rendering: optimizeLegibility;
}

strong,
b,
h1 b {
	font-weight: var(--strongWeight) !important;
}

del,
strike {
	color: var(--colorUITextMuted);
}

.editable code {
	font-size: var(--monoSize) !important;
}

/* PANEL ==================================================================== */
/* Panel Height Fix */
/* [class^="EditorPage-module_el"] {
	--scrollPastBottom: 0 !important;
} */

/* Panel Title */
h1,
h1[class^="NodePanelHeaderTitle-module_heading"] {
	font-size: var(--titleSize);
	font-weight: var(--titleWeight) !important;
	letter-spacing: -0.015em;
}

/* Related Content Panel Title */
/* ⚠️ ⚠️ ⚠️ ⚠️ NEEDS FIX NEEDS FIX NEEDS FIX NEEDS FIX NEEDS FIX ⚠️ ⚠️ ⚠️ ⚠️ */
/* h1[class^="WidgetPanel-module_panelHeading"],
h1.WidgetPanel-module_panelHeading__LbAl8 {
	font-size: var(--size400);
} */
/* ⚠️ ⚠️ ⚠️ ⚠️ NEEDS FIX NEEDS FIX NEEDS FIX NEEDS FIX NEEDS FIX ⚠️ ⚠️ ⚠️ ⚠️ */

h1 .inlinerefnode,
h1 .inlinerefuser,
h1 .inlinerefdate,
h1 .inlinerefdate[tabindex],
h1 .wrapEditableAndMenu .titleFields {
	font-weight: inherit;
}

.wrapEditableAndMenu .titleFields {
	margin-left: 0;
	margin-right: 0;
}

/* REFERENCES =============================================================== */
/* References Section, at panel bottom  */
/* [class^="RelatedContent-module_refs"]
	span[class^="ExpandableSection-module_title"] {
	margin-left: 1.5rem;
} */

/* Reference Count */
button[aria-label^="This node is referenced"] {
	font-family: var(--fontStackMonospace);
}

button[aria-label^="This node is referenced"][class*="Button-module_neutral"] {
	color: var(--colorUITextMuted);
}

button[aria-label^="This node is referenced"]:hover,
button[aria-label^="This node is referenced"]:active,
button[aria-label^="This node is referenced"][class*="Button-module_active"] {
	--colorButtonText: var(--colorButtonActiveText);
	--colorButtonStroke: var(--colorButtonActiveStroke);
	color: var(--colorButtonText);
	border-color: var(--colorButtonStroke);
}

/* MISCELLANEOUS ============================================================ */

/* URL Node Reference */
.bullet.isReference.isUrl svg {
	color: var(--bulletColor1);
	stroke-dasharray: 4, 3;
}

/* Code Block */
[class^="codeBlockItem-module_el"]
	[class^="codeBlockItem-module_codeBlockItem"] {
	font-family: var(--fontStackMonospace);
}

/* Inline date reference */
button,
span.inlinerefdate {
	font-feature-settings: inherit;
}

/* SPECIAL SUPERTAG STYLES ================================================== */
/* [data-tag-name="{{SUPERTAG NAME}}"] {
	color: var(--color-text-comment);
} */

/* Supertag buttons */
[class^="TemplateTag-module_tagAvatar"] {
	display: none;
}
